In [1]:
import pandas as pd
import numpy as np

In [17]:
%%time

df = pd.read_csv('data/Checkouts_By_Title__Physical_Items_.csv', nrows=1000000,
#                  index_col=0
                )

df.columns = ['id', 'checkout_year', 'bib_number', 'barcode', 'item_type', 'collection', 
              'call_number', 'title', 'subjects', 'date']

CPU times: user 3.25 s, sys: 240 ms, total: 3.49 s
Wall time: 3.5 s

In [18]:
df.head()

,id,checkout_year,bib_number,barcode,item_type,collection,call_number,title,subjects,date
0,200802131938000010055597412,2008,2360904,10055597412,acdvd,nadvd,DVD FIREWAL,Firewall,"Kidnapping Drama, Video recordings for the hea...",02/13/2008 07:38:00 PM
1,200807231453000010048527021,2008,2223703,10048527021,acbk,nanf,793.2 C7744B 2001,best baby shower book a complete guide for par...,Showers Parties,07/23/2008 02:53:00 PM
2,200912231620000010049723249,2009,2285544,10049723249,acbk,nyfic,YA WESTERF,Uglies,"Fantasy, Teenage girls Fiction, Beauty Persona...",12/23/2009 04:20:00 PM
3,201011161204000010069148970,2010,2614605,10069148970,acbk,napar,618.4 L9511D 2009,doula guide to birth secrets every pregnant wo...,"Doulas, Childbirth",11/16/2010 12:04:00 PM
4,200904261329000010051092236,2009,2301221,10051092236,acbk,canf,641.692 M8216S 2005,Salmon a cookbook,Cookery Salmon,04/26/2009 01:29:00 PM

In [16]:
sorted(df.collection.unique())

['caaero',
 'cab',
 'cabocd',
 'cabot',
 'cacasnf',
 'cacd',
 'cacdnf',
 'cacdr',
 'cacomic',
 'cadesk3',
 'cadesk8',
 'cadesk9',
 'cadocpt',
 'cadvd',
 'cadvdnf',
 'caesl',
 'caesla',
 'caeslb',
 'caeslc',
 'caesli',
 'caeslr',
 'caeslt',
 'cafic',
 'cafold',
 'cagmf',
 'calibr',
 'caln',
 'calncas',
 'calncd',
 'calndvd',
 'calnvid',
 'calpfic',
 'calpnew',
 'calpnf',
 'camus',
 'camys',
 'canew',
 'canf',
 'canwart',
 'caover',
 'caper',
 'capf',
 'capfxms',
 'caread',
 'caref',
 'caref8',
 'casf',
 'cash',
 'casoft',
 'cass',
 'cavid',
 'cavidad',
 'cavidnf',
 'cawest',
 'ccb',
 'ccbocd',
 'ccbot',
 'cccd',
 'cccomic',
 'ccdvd',
 'ccdvdnf',
 'cceck',
 'ccef',
 'ccfft',
 'ccfic',
 'cchol',
 'cckit',
 'ccln',
 'cclpfic',
 'ccnew',
 'ccnf',
 'ccpic',
 'ccrdr',
 'ccser',
 'ccvid',
 'ccvidnf',
 'cs1fic',
 'cs1lew',
 'cs6',
 'cs6r',
 'cs7',
 'cs7r',
 'cs7ro',
 'cs8',
 'cs8o',
 'cs8r',
 'cs9',
 'cs9o',
 'cs9r',
 'cyb',
 'cybocd',
 'cybot',
 'cycomic',
 'cyfic',
 'cylp',
 'cynew',
 'cynf',
 'cyser',
 'naaab',
 'naaafic',
 'naaanew',
 'naaanf',
 'naaapb',
 'naaavid',
 'naatlas',
 'naatlr',
 'nab',
 'nabiflk',
 'nabocd',
 'nabot',
 'nabr',
 'nacas',
 'nacasnf',
 'nacd',
 'nacdnf',
 'nacdr',
 'naclfic',
 'naclnf',
 'nacomic',
 'nacon',
 'nadoc',
 'nadvd',
 'nadvdnf',
 'naesl',
 'naesla',
 'naeslb',
 'naeslc',
 'naesli',
 'naeslt',
 'nafic',
 'nafold',
 'naglc',
 'nahol',
 'naholsk',
 'nahome',
 'najob',
 'najobr',
 'nakit',
 'nalas',
 'nalh',
 'naln',
 'nalpfic',
 'nalpnew',
 'nalpnf',
 'namar',
 'namys',
 'nana',
 'nanew',
 'nanf',
 'naover',
 'napar',
 'napb',
 'napf',
 'napost',
 'naread',
 'naref',
 'nasf',
 'nass',
 'nastk',
 'nasur',
 'navid',
 'navidnf',
 'nawest',
 'ncaa',
 'ncaward',
 'ncb',
 'ncbb',
 'ncbocd',
 'ncbot',
 'nccas',
 'nccd',
 'nccomic',
 'ncdvd',
 'ncdvdnf',
 'ncef',
 'ncenf',
 'ncesl',
 'ncfft',
 'ncfic',
 'nchol',
 'ncholsk',
 'nckit',
 'ncln',
 'nclp',
 'ncnew',
 'ncnf',
 'ncpb',
 'ncpic',
 'ncpro',
 'ncrdr',
 'ncref',
 'ncseas',
 'ncser',
 'ncsoft',
 'ncspec',
 'ncvid',
 'ncvidnf',
 'nyb',
 'nybocd',
 'nybot',
 'nycomic',
 'nyfic',
 'nylp',
 'nynew',
 'nynf',
 'nypb',
 'nyser',
 'seorder',
 'swill']

In [24]:
%%time

dd = pd.read_csv('data/data_dictionary.csv')

dd.columns = ['code', 'description', 'code_type', 'format_group', 'format_subgroup', 
              'category_group', 'category_subgroup', 'age_group']

dd.head()

CPU times: user 5.72 ms, sys: 2.72 ms, total: 8.44 ms
Wall time: 7.25 ms

,code,description,code_type,format_group,format_subgroup,category_group,category_subgroup,age_group
0,cazover,CA7-zine collection oversize,ItemCollection,Print,Book,Periodical,NaN,Adult
1,caziner,CA7-zine collection reference,ItemCollection,Print,Book,Periodical,NaN,Adult
2,cazval,CA7-zine collection valuable mat.,ItemCollection,Print,Book,Periodical,NaN,Adult
3,nga,Northgate Branch,Location,NaN,NaN,NaN,NaN,NaN
4,hip,High Point Branch,Location,NaN,NaN,NaN,NaN,NaN

In [32]:
dd[dd.code_type == 'ItemType']

,code,description,code_type,format_group,format_subgroup,category_group,category_subgroup,age_group
45,arbk,Book: Ref Adult/YA,ItemType,Print,Book,Reference,NaN,Adult
46,bcvhs,Video (VHS): Adult/Formerly No Fine,ItemType,Media,Video Tape,Miscellaneous,NaN,Adult
51,drbk,Book: Dummy Record,ItemType,Other,Book,Temporary,NaN,Adult
58,bccas,Audio Tape: Speech Adult Formerly No Fine,ItemType,Media,Audio Tape,Miscellaneous,NaN,Adult
63,xrpam,Pamphlet: Analytic Record,ItemType,Other,NaN,Analytic,NaN,Adult
...,...,...,...,...,...,...,...,...
566,atablet,Tablet computer,ItemType,Equipment,NaN,Miscellaneous,NaN,Adult
567,jrkit,Kit: Ref Juv,ItemType,Media,Kit,Reference,NaN,Juvenile
571,arslide,Slides: Ref Adult/YA,ItemType,Media,Film,Reference,NaN,Adult
575,ahbk,Book: Adult/YA: No Hold,ItemType,Print,Book,Miscellaneous,NaN,Adult
576,jcdvd,DVD: Juv Circulating,ItemType,Media,Video Disc,Miscellaneous,NaN,Juvenile

In [25]:
dd.code_type.unique()

array(['ItemCollection', 'Location', 'ItemType', 'ItemTypeDetail'],
      dtype=object)

In [27]:
dd_item = dd[dd.code_type == 'ItemType'][['code', 'description', 'format_group', 'format_subgroup', 'category_group', 
             'category_subgroup', 'age_group']]

dd_item.head()

,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
45,arbk,Book: Ref Adult/YA,Print,Book,Reference,NaN,Adult
46,bcvhs,Video (VHS): Adult/Formerly No Fine,Media,Video Tape,Miscellaneous,NaN,Adult
51,drbk,Book: Dummy Record,Other,Book,Temporary,NaN,Adult
58,bccas,Audio Tape: Speech Adult Formerly No Fine,Media,Audio Tape,Miscellaneous,NaN,Adult
63,xrpam,Pamphlet: Analytic Record,Other,NaN,Analytic,NaN,Adult

In [44]:
dd_item2 = dd[dd.code_type == 'ItemCollection'][['code', 'description', 'format_group', 'format_subgroup', 'category_group', 
             'category_subgroup', 'age_group']]

dd_item2.head()

,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
0,cazover,CA7-zine collection oversize,Print,Book,Periodical,NaN,Adult
1,caziner,CA7-zine collection reference,Print,Book,Periodical,NaN,Adult
2,cazval,CA7-zine collection valuable mat.,Print,Book,Periodical,NaN,Adult
38,napclb,NA-Computer Lab,Print,Book,Miscellaneous,NaN,Adult
39,caper,CA7-Periodicals,Print,Periodical,Miscellaneous,NaN,Adult

In [30]:
sorted(df.item_type.unique())

['acart',
 'acbk',
 'accas',
 'accd',
 'accdrom',
 'acdisk',
 'acdvd',
 'aceq',
 'acfold',
 'ackit',
 'acmus',
 'acpam',
 'acper',
 'acpost',
 'acrec',
 'acslide',
 'acvhs',
 'acvid',
 'alvhs',
 'arbk',
 'arcd',
 'armfm',
 'arper',
 'arvhs',
 'bcbk',
 'bccas',
 'bccd',
 'bccdrom',
 'bcdvd',
 'bckit',
 'bcvhs',
 'blvhs',
 'dcillb',
 'jcbk',
 'jccas',
 'jccd',
 'jccdrom',
 'jcdvd',
 'jckit',
 'jcmus',
 'jcvhs',
 'jlvhs',
 'jrbk',
 'ucfold',
 'ucunkn',
 'ucunknj']

In [28]:
dd_loc = dd[dd.code_type == 'Location'][['code', 'description']]

dd_loc.head()

  code                          description
3  nga                     Northgate Branch
4  hip                    High Point Branch
5  rbe                 Rainier Beach Branch
6  wlb  Wa Talking Book And Braille Library
7  dth                Douglass-Truth Branch

In [46]:
test = df.merge(dd_item, left_on='item_type', right_on='code')
# test = test.merge(dd_loc, left_on='collection', right_on='code')

test.tail()

,id,checkout_year,bib_number,barcode,item_type,collection,call_number,title,subjects,date,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
999995,201009091945000010049190019,2010,1854698,10049190019,acvid,naover,VHS 306.36 AFRICAN,Africans in America Americas journey through s...,"African Americans History, Slavery United Stat...",09/09/2010 07:45:00 PM,acvid,Video: Adult/YA,Media,Video Tape,Miscellaneous,NaN,Adult
999996,200808221330000010038703111,2008,1790686,10038703111,acpam,cs9,917.97772 Se32E,Seeing Seattle on foot a walking tour of Eastl...,"Eastlake Seattle Wash, Walking Washington Stat...",08/22/2008 01:30:00 PM,acpam,Pamphlet: Adult/ya,Print,NaN,Miscellaneous,NaN,Adult
999997,200902241311000010024731332,2009,1829369,10024731332,acpam,canf,DOC HE20.3352:D 99/2/993,Facts about dyslexia,"Dyslexia United States, Dyslexic children Unit...",02/24/2009 01:11:00 PM,acpam,Pamphlet: Adult/ya,Print,NaN,Miscellaneous,NaN,Adult
999998,200910011817000010047831473,2009,1849488,10047831473,arvhs,caeslr,SPANISH VHS428.1 Ac222 1997,Accent correction reduction for speakers of En...,English language Pronunciation by foreign spea...,10/01/2009 06:17:00 PM,arvhs,Video (VHS): Ref Adult/YA,Media,Video Tape,Reference,NaN,Adult
999999,200911081511000010055843410,2009,2360918,10055843410,acdisk,nadvd,DVD SHES TH,Shes the man,"Twins Drama, Video recordings for the hearing ...",11/08/2009 03:11:00 PM,acdisk,Diskette: Adult/YA,Media,Data Disc,Miscellaneous,NaN,Adult

In [48]:
test.shape, test2.shape

((1000000, 17), (1000000, 17))

In [47]:
test2 = df.merge(dd_item2, left_on='collection', right_on='code')

test2.tail()

,id,checkout_year,bib_number,barcode,item_type,collection,call_number,title,subjects,date,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
999995,200808021439000010060169033,2008,2475480,10060169033,acbk,najobr,373.1262 Sh826S08 2007,Show what you know on the WASL for grade 8 Rea...,Washington Assessment of Student Learning Stud...,08/02/2008 02:39:00 PM,najobr,NA-Job & Educ- Reference,Print,Book,Reference,NaN,Adult
999996,200801241010000010052679056,2008,2109506,10052679056,accdrom,nacdr,CDROM 643.7 T4139 2002,3D home design suite,Architecture Domestic Designs and plans Softwa...,01/24/2008 10:10:00 AM,nacdr,"NA-CD-ROM, Nonfiction",Media,Data Disc,Nonfiction,NaN,Adult
999997,200901141925000010038671474,2009,1928160,10038671474,arbk,cadesk9,979.7 J2981W 1999,Washington almanac facts about Washington,"Washington State History, Washington State Mis...",01/14/2009 07:25:00 PM,cadesk9,"CA9-RefDesk, HTM",Print,Book,Reference,NaN,Adult
999998,200906151353000010046842356,2009,2196120,10046842356,arbk,cadesk3,011.73 P3163B 2003,Book lust recommended reading for every mood m...,"Best books, Books and reading United States, P...",06/15/2009 01:53:00 PM,cadesk3,CS 3 - Ref Fiction,Print,Book,Reference,NaN,Adult
999999,201007271533000010030543465,2010,2094870,10030543465,acpost,cadocpt,DOC I19.79:V 88/2/POST.,Volcanoes,"Volcanoes Posters, Volcanoes Washington State ...",07/27/2010 03:33:00 PM,cadocpt,CA6-Poster - DOC,Media,Document,Miscellaneous,NaN,Adult

In [43]:
dd[dd.code == 'nybot']

,code,description,code_type,format_group,format_subgroup,category_group,category_subgroup,age_group
496,nybot,NY-Teen - Books on Tape,ItemCollection,Media,Audiobook Tape,Fiction,NaN,Teen

In [38]:
sorted(df.collection.unique())

['caaero',
 'cab',
 'cabocd',
 'cabot',
 'cacasnf',
 'cacd',
 'cacdnf',
 'cacdr',
 'cacomic',
 'cadesk3',
 'cadesk8',
 'cadesk9',
 'cadocpt',
 'cadvd',
 'cadvdnf',
 'caesl',
 'caesla',
 'caeslb',
 'caeslc',
 'caesli',
 'caeslr',
 'caeslt',
 'cafic',
 'cafold',
 'cagmf',
 'calibr',
 'caln',
 'calncas',
 'calncd',
 'calndvd',
 'calnvid',
 'calpfic',
 'calpnew',
 'calpnf',
 'camus',
 'camys',
 'canew',
 'canf',
 'canwart',
 'caover',
 'caper',
 'capf',
 'capfxms',
 'caread',
 'caref',
 'caref8',
 'casf',
 'cash',
 'casoft',
 'cass',
 'cavid',
 'cavidad',
 'cavidnf',
 'cawest',
 'ccb',
 'ccbocd',
 'ccbot',
 'cccd',
 'cccomic',
 'ccdvd',
 'ccdvdnf',
 'cceck',
 'ccef',
 'ccfft',
 'ccfic',
 'cchol',
 'cckit',
 'ccln',
 'cclpfic',
 'ccnew',
 'ccnf',
 'ccpic',
 'ccrdr',
 'ccser',
 'ccvid',
 'ccvidnf',
 'cs1fic',
 'cs1lew',
 'cs6',
 'cs6r',
 'cs7',
 'cs7r',
 'cs7ro',
 'cs8',
 'cs8o',
 'cs8r',
 'cs9',
 'cs9o',
 'cs9r',
 'cyb',
 'cybocd',
 'cybot',
 'cycomic',
 'cyfic',
 'cylp',
 'cynew',
 'cynf',
 'cyser',
 'naaab',
 'naaafic',
 'naaanew',
 'naaanf',
 'naaapb',
 'naaavid',
 'naatlas',
 'naatlr',
 'nab',
 'nabiflk',
 'nabocd',
 'nabot',
 'nabr',
 'nacas',
 'nacasnf',
 'nacd',
 'nacdnf',
 'nacdr',
 'naclfic',
 'naclnf',
 'nacomic',
 'nacon',
 'nadoc',
 'nadvd',
 'nadvdnf',
 'naesl',
 'naesla',
 'naeslb',
 'naeslc',
 'naesli',
 'naeslt',
 'nafic',
 'nafold',
 'naglc',
 'nahol',
 'naholsk',
 'nahome',
 'najob',
 'najobr',
 'nakit',
 'nalas',
 'nalh',
 'naln',
 'nalpfic',
 'nalpnew',
 'nalpnf',
 'namar',
 'namys',
 'nana',
 'nanew',
 'nanf',
 'naover',
 'napar',
 'napb',
 'napf',
 'napost',
 'naread',
 'naref',
 'nasf',
 'nass',
 'nastk',
 'nasur',
 'navid',
 'navidnf',
 'nawest',
 'ncaa',
 'ncaward',
 'ncb',
 'ncbb',
 'ncbocd',
 'ncbot',
 'nccas',
 'nccd',
 'nccomic',
 'ncdvd',
 'ncdvdnf',
 'ncef',
 'ncenf',
 'ncesl',
 'ncfft',
 'ncfic',
 'nchol',
 'ncholsk',
 'nckit',
 'ncln',
 'nclp',
 'ncnew',
 'ncnf',
 'ncpb',
 'ncpic',
 'ncpro',
 'ncrdr',
 'ncref',
 'ncseas',
 'ncser',
 'ncsoft',
 'ncspec',
 'ncvid',
 'ncvidnf',
 'nyb',
 'nybocd',
 'nybot',
 'nycomic',
 'nyfic',
 'nylp',
 'nynew',
 'nynf',
 'nypb',
 'nyser',
 'seorder',
 'swill']

In [37]:
dd_loc.code.unique()

array(['nga', 'hip', 'rbe', 'wlb', 'dth', 'drp1', 'mag', 'nhy', 'bal',
       'gwd', 'net', 'idc', 'cap', 'stak', 'wal', 'tcs', 'lcy', 'bro',
       'mon', 'mob', 'spa', 'qas', 'dlr', 'col', 'out', 'uni', 'qna',
       'wts', 'mgm', 'glk', 'bea', 'cen', 'fre', 'swt', 'ill'],
      dtype=object)

In [35]:
[cod for cod in df.collection.unique() if cod in dd_loc.code.unique()]

[]

In [ ]:
%%time

# uncomment to save
with gzip.open('data/seattle_lib.pkl', 'wb') as goodbye:
    pickle.dump(df, goodbye, protocol=pickle.HIGHEST_PROTOCOL)
    
# # uncomment to load
# with gzip.open('data/seattle_lib.pkl', 'rb') as hello:
#     df = pickle.load(hello)