In [1]:
import pandas as pd
import numpy as np

In [51]:
%%time

usecols = ['CheckoutYear', 'ItemType', 'Collection', 'CallNumber', 'ItemTitle', 'Subjects', 'CheckoutDateTime']

df = pd.read_csv('data/Checkouts_By_Title__Physical_Items_.csv', nrows=1000000, usecols=usecols)

df.columns = ['checkout_year', 'item_type', 'collection', 'call_number', 'title', 'subjects', 'date']

CPU times: user 2.59 s, sys: 186 ms, total: 2.78 s
Wall time: 2.79 s

In [52]:
df.head()

,checkout_year,item_type,collection,call_number,title,subjects,date
0,2008,acdvd,nadvd,DVD FIREWAL,Firewall,"Kidnapping Drama, Video recordings for the hea...",02/13/2008 07:38:00 PM
1,2008,acbk,nanf,793.2 C7744B 2001,best baby shower book a complete guide for par...,Showers Parties,07/23/2008 02:53:00 PM
2,2009,acbk,nyfic,YA WESTERF,Uglies,"Fantasy, Teenage girls Fiction, Beauty Persona...",12/23/2009 04:20:00 PM
3,2010,acbk,napar,618.4 L9511D 2009,doula guide to birth secrets every pregnant wo...,"Doulas, Childbirth",11/16/2010 12:04:00 PM
4,2009,acbk,canf,641.692 M8216S 2005,Salmon a cookbook,Cookery Salmon,04/26/2009 01:29:00 PM

In [54]:
df.shape

(1000000, 7)

In [16]:
sorted(df.collection.unique())

['caaero',
 'cab',
 'cabocd',
 'cabot',
 'cacasnf',
 'cacd',
 'cacdnf',
 'cacdr',
 'cacomic',
 'cadesk3',
 'cadesk8',
 'cadesk9',
 'cadocpt',
 'cadvd',
 'cadvdnf',
 'caesl',
 'caesla',
 'caeslb',
 'caeslc',
 'caesli',
 'caeslr',
 'caeslt',
 'cafic',
 'cafold',
 'cagmf',
 'calibr',
 'caln',
 'calncas',
 'calncd',
 'calndvd',
 'calnvid',
 'calpfic',
 'calpnew',
 'calpnf',
 'camus',
 'camys',
 'canew',
 'canf',
 'canwart',
 'caover',
 'caper',
 'capf',
 'capfxms',
 'caread',
 'caref',
 'caref8',
 'casf',
 'cash',
 'casoft',
 'cass',
 'cavid',
 'cavidad',
 'cavidnf',
 'cawest',
 'ccb',
 'ccbocd',
 'ccbot',
 'cccd',
 'cccomic',
 'ccdvd',
 'ccdvdnf',
 'cceck',
 'ccef',
 'ccfft',
 'ccfic',
 'cchol',
 'cckit',
 'ccln',
 'cclpfic',
 'ccnew',
 'ccnf',
 'ccpic',
 'ccrdr',
 'ccser',
 'ccvid',
 'ccvidnf',
 'cs1fic',
 'cs1lew',
 'cs6',
 'cs6r',
 'cs7',
 'cs7r',
 'cs7ro',
 'cs8',
 'cs8o',
 'cs8r',
 'cs9',
 'cs9o',
 'cs9r',
 'cyb',
 'cybocd',
 'cybot',
 'cycomic',
 'cyfic',
 'cylp',
 'cynew',
 'cynf',
 'cyser',
 'naaab',
 'naaafic',
 'naaanew',
 'naaanf',
 'naaapb',
 'naaavid',
 'naatlas',
 'naatlr',
 'nab',
 'nabiflk',
 'nabocd',
 'nabot',
 'nabr',
 'nacas',
 'nacasnf',
 'nacd',
 'nacdnf',
 'nacdr',
 'naclfic',
 'naclnf',
 'nacomic',
 'nacon',
 'nadoc',
 'nadvd',
 'nadvdnf',
 'naesl',
 'naesla',
 'naeslb',
 'naeslc',
 'naesli',
 'naeslt',
 'nafic',
 'nafold',
 'naglc',
 'nahol',
 'naholsk',
 'nahome',
 'najob',
 'najobr',
 'nakit',
 'nalas',
 'nalh',
 'naln',
 'nalpfic',
 'nalpnew',
 'nalpnf',
 'namar',
 'namys',
 'nana',
 'nanew',
 'nanf',
 'naover',
 'napar',
 'napb',
 'napf',
 'napost',
 'naread',
 'naref',
 'nasf',
 'nass',
 'nastk',
 'nasur',
 'navid',
 'navidnf',
 'nawest',
 'ncaa',
 'ncaward',
 'ncb',
 'ncbb',
 'ncbocd',
 'ncbot',
 'nccas',
 'nccd',
 'nccomic',
 'ncdvd',
 'ncdvdnf',
 'ncef',
 'ncenf',
 'ncesl',
 'ncfft',
 'ncfic',
 'nchol',
 'ncholsk',
 'nckit',
 'ncln',
 'nclp',
 'ncnew',
 'ncnf',
 'ncpb',
 'ncpic',
 'ncpro',
 'ncrdr',
 'ncref',
 'ncseas',
 'ncser',
 'ncsoft',
 'ncspec',
 'ncvid',
 'ncvidnf',
 'nyb',
 'nybocd',
 'nybot',
 'nycomic',
 'nyfic',
 'nylp',
 'nynew',
 'nynf',
 'nypb',
 'nyser',
 'seorder',
 'swill']

In [53]:
%%time

dd = pd.read_csv('data/data_dictionary.csv')

dd.columns = ['code', 'description', 'code_type', 'format_group', 'format_subgroup', 
              'category_group', 'category_subgroup', 'age_group']

dd.head()

CPU times: user 6.4 ms, sys: 5.37 ms, total: 11.8 ms
Wall time: 15.1 ms

,code,description,code_type,format_group,format_subgroup,category_group,category_subgroup,age_group
0,cazover,CA7-zine collection oversize,ItemCollection,Print,Book,Periodical,NaN,Adult
1,caziner,CA7-zine collection reference,ItemCollection,Print,Book,Periodical,NaN,Adult
2,cazval,CA7-zine collection valuable mat.,ItemCollection,Print,Book,Periodical,NaN,Adult
3,nga,Northgate Branch,Location,NaN,NaN,NaN,NaN,NaN
4,hip,High Point Branch,Location,NaN,NaN,NaN,NaN,NaN

In [32]:
dd[dd.code_type == 'ItemType']

,code,description,code_type,format_group,format_subgroup,category_group,category_subgroup,age_group
45,arbk,Book: Ref Adult/YA,ItemType,Print,Book,Reference,NaN,Adult
46,bcvhs,Video (VHS): Adult/Formerly No Fine,ItemType,Media,Video Tape,Miscellaneous,NaN,Adult
51,drbk,Book: Dummy Record,ItemType,Other,Book,Temporary,NaN,Adult
58,bccas,Audio Tape: Speech Adult Formerly No Fine,ItemType,Media,Audio Tape,Miscellaneous,NaN,Adult
63,xrpam,Pamphlet: Analytic Record,ItemType,Other,NaN,Analytic,NaN,Adult
...,...,...,...,...,...,...,...,...
566,atablet,Tablet computer,ItemType,Equipment,NaN,Miscellaneous,NaN,Adult
567,jrkit,Kit: Ref Juv,ItemType,Media,Kit,Reference,NaN,Juvenile
571,arslide,Slides: Ref Adult/YA,ItemType,Media,Film,Reference,NaN,Adult
575,ahbk,Book: Adult/YA: No Hold,ItemType,Print,Book,Miscellaneous,NaN,Adult
576,jcdvd,DVD: Juv Circulating,ItemType,Media,Video Disc,Miscellaneous,NaN,Juvenile

In [25]:
dd.code_type.unique()

array(['ItemCollection', 'Location', 'ItemType', 'ItemTypeDetail'],
      dtype=object)

In [27]:
dd_item = dd[dd.code_type == 'ItemType'][['code', 'description', 'format_group', 'format_subgroup', 'category_group', 
             'category_subgroup', 'age_group']]

dd_item.head()

,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
45,arbk,Book: Ref Adult/YA,Print,Book,Reference,NaN,Adult
46,bcvhs,Video (VHS): Adult/Formerly No Fine,Media,Video Tape,Miscellaneous,NaN,Adult
51,drbk,Book: Dummy Record,Other,Book,Temporary,NaN,Adult
58,bccas,Audio Tape: Speech Adult Formerly No Fine,Media,Audio Tape,Miscellaneous,NaN,Adult
63,xrpam,Pamphlet: Analytic Record,Other,NaN,Analytic,NaN,Adult

In [44]:
dd_item2 = dd[dd.code_type == 'ItemCollection'][['code', 'description', 'format_group', 'format_subgroup', 'category_group', 
             'category_subgroup', 'age_group']]

dd_item2.head()

,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
0,cazover,CA7-zine collection oversize,Print,Book,Periodical,NaN,Adult
1,caziner,CA7-zine collection reference,Print,Book,Periodical,NaN,Adult
2,cazval,CA7-zine collection valuable mat.,Print,Book,Periodical,NaN,Adult
38,napclb,NA-Computer Lab,Print,Book,Miscellaneous,NaN,Adult
39,caper,CA7-Periodicals,Print,Periodical,Miscellaneous,NaN,Adult

In [30]:
sorted(df.item_type.unique())

['acart',
 'acbk',
 'accas',
 'accd',
 'accdrom',
 'acdisk',
 'acdvd',
 'aceq',
 'acfold',
 'ackit',
 'acmus',
 'acpam',
 'acper',
 'acpost',
 'acrec',
 'acslide',
 'acvhs',
 'acvid',
 'alvhs',
 'arbk',
 'arcd',
 'armfm',
 'arper',
 'arvhs',
 'bcbk',
 'bccas',
 'bccd',
 'bccdrom',
 'bcdvd',
 'bckit',
 'bcvhs',
 'blvhs',
 'dcillb',
 'jcbk',
 'jccas',
 'jccd',
 'jccdrom',
 'jcdvd',
 'jckit',
 'jcmus',
 'jcvhs',
 'jlvhs',
 'jrbk',
 'ucfold',
 'ucunkn',
 'ucunknj']

In [28]:
dd_loc = dd[dd.code_type == 'Location'][['code', 'description']]

dd_loc.head()

  code                          description
3  nga                     Northgate Branch
4  hip                    High Point Branch
5  rbe                 Rainier Beach Branch
6  wlb  Wa Talking Book And Braille Library
7  dth                Douglass-Truth Branch

In [56]:
test = df.merge(dd_item, left_on='item_type', right_on='code')
# test = test.merge(dd_loc, left_on='collection', right_on='code')

test.head()

,checkout_year,item_type,collection,call_number,title,subjects,date,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
0,2008,acdvd,nadvd,DVD FIREWAL,Firewall,"Kidnapping Drama, Video recordings for the hea...",02/13/2008 07:38:00 PM,acdvd,DVD: Adult/YA,Media,Video Disc,Miscellaneous,NaN,Adult
1,2009,acdvd,nadvd,DVD MARLEY,Marley me,"Comedy films, Married people Drama, Philadelph...",07/03/2009 01:56:00 PM,acdvd,DVD: Adult/YA,Media,Video Disc,Miscellaneous,NaN,Adult
2,2008,acdvd,nadvdnf,DVD 781.66094 F4904 2004,Finally the first farewell tour,"Popular music, Music videos, Rock music",01/07/2008 01:15:00 PM,acdvd,DVD: Adult/YA,Media,Video Disc,Miscellaneous,NaN,Adult
3,2008,acdvd,nadvd,DVD SIX FEE Season 4,Six feet under The complete fourth season,"Video recordings for the hearing impaired, Pro...",10/26/2008 02:35:00 PM,acdvd,DVD: Adult/YA,Media,Video Disc,Miscellaneous,NaN,Adult
4,2009,acdvd,nadvdnf,DVD 813.54 M7947 2006,Monster in a box the movie,"Fiction Authorship, Gray Spalding 1941 2004",09/30/2009 07:22:00 PM,acdvd,DVD: Adult/YA,Media,Video Disc,Miscellaneous,NaN,Adult

In [58]:
test.collection.unique()

array(['nadvd', 'nadvdnf', 'cadvd', 'cadvdnf', 'calndvd', 'caln',
       'casoft', 'nacomic', 'nycomic', 'naaavid', 'ncenf', 'nacdnf',
       'ncdvd', 'nacd', 'nanf', 'nabocd', 'navid', 'cacdnf', 'canf',
       'napar', 'ncdvdnf', 'cacd', 'naln', 'seorder', 'cavid', 'ccdvd',
       'cavidnf', 'naaanf', 'nyfic', 'cycomic', 'nalpfic', 'nafic',
       'cafic', 'nasf', 'canew', 'nab', 'nanew', 'casf', 'naclfic',
       'najob', 'cyfic', 'camys', 'namys', 'nynew', 'calpnew', 'nynf',
       'cynew', 'nypb', 'nyser', 'cs9', 'calpnf', 'napb', 'nalpnew',
       'nalpnf', 'cs1lew', 'naaafic', 'cynf', 'capf', 'calpfic', 'cs1fic',
       'nawest', 'cab', 'nass', 'cass', 'ncef', 'naover', 'calibr', 'cs8',
       'nahol', 'cacomic', 'cs7', 'naglc', 'naaab', 'cs6', 'naaanew',
       'namar', 'cawest', 'cyser', 'nylp', 'caover', 'cyb', 'ncnew',
       'ncfic', 'ncln', 'nyb', 'cylp', 'naclnf', 'caref', 'nccomic',
       'capfxms', 'naesl', 'naaapb', 'nana', 'nchol', 'caesli', 'napf',
       'ccnf', 'nadoc', 'naeslc', 'naholsk', 'ccfic', 'ncnf', 'nabot',
       'naref', 'camus', 'nahome', 'nacon', 'nalh', 'naatlas', 'cs8r',
       'cabocd', 'naeslb', 'ncfft', 'cs9o', 'nabr', 'nacas', 'ccvid',
       'ncref', 'naesla', 'caeslc', 'nastk', 'caeslb', 'ccln', 'cash',
       'caaero', 'naread', 'ncpic', 'ncb', 'caesla', 'cs8o', 'ncaward',
       'naesli', 'caread', 'nalas', 'najobr', 'ncvid', 'ccef', 'nybocd',
       'cybocd', 'nakit', 'calncd', 'nccd', 'cccd', 'ccbocd', 'ncbocd',
       'cacasnf', 'ncrdr', 'ncser', 'ccb', 'ccfft', 'nclp', 'ccrdr',
       'ccpic', 'ncholsk', 'ncpb', 'ccser', 'cchol', 'ncspec', 'ccnew',
       'ncseas', 'ncbb', 'cclpfic', 'cccomic', 'ncpro', 'ncaa', 'nckit',
       'cceck', 'ncesl', 'nasur', 'ccdvdnf', 'navidnf', 'nafold',
       'cafold', 'cckit', 'calnvid', 'ncvidnf', 'cavidad', 'nabiflk',
       'caesl', 'cabot', 'nacasnf', 'nybot', 'calncas', 'cybot',
       'ccvidnf', 'swill', 'caeslt', 'naeslt', 'caeslr', 'ncsoft',
       'ncbot', 'ccbot', 'nccas', 'cs6r', 'cs9r', 'cs7r', 'caref8',
       'naatlr', 'cs7ro', 'cadesk9', 'cadesk3', 'cacdr', 'nacdr', 'caper',
       'canwart', 'cadesk8', 'napost', 'cadocpt', 'cagmf'], dtype=object)

In [57]:
test.shape

(1000000, 14)

In [47]:
test2 = df.merge(dd_item2, left_on='collection', right_on='code')

test2.tail()

,id,checkout_year,bib_number,barcode,item_type,collection,call_number,title,subjects,date,code,description,format_group,format_subgroup,category_group,category_subgroup,age_group
999995,200808021439000010060169033,2008,2475480,10060169033,acbk,najobr,373.1262 Sh826S08 2007,Show what you know on the WASL for grade 8 Rea...,Washington Assessment of Student Learning Stud...,08/02/2008 02:39:00 PM,najobr,NA-Job & Educ- Reference,Print,Book,Reference,NaN,Adult
999996,200801241010000010052679056,2008,2109506,10052679056,accdrom,nacdr,CDROM 643.7 T4139 2002,3D home design suite,Architecture Domestic Designs and plans Softwa...,01/24/2008 10:10:00 AM,nacdr,"NA-CD-ROM, Nonfiction",Media,Data Disc,Nonfiction,NaN,Adult
999997,200901141925000010038671474,2009,1928160,10038671474,arbk,cadesk9,979.7 J2981W 1999,Washington almanac facts about Washington,"Washington State History, Washington State Mis...",01/14/2009 07:25:00 PM,cadesk9,"CA9-RefDesk, HTM",Print,Book,Reference,NaN,Adult
999998,200906151353000010046842356,2009,2196120,10046842356,arbk,cadesk3,011.73 P3163B 2003,Book lust recommended reading for every mood m...,"Best books, Books and reading United States, P...",06/15/2009 01:53:00 PM,cadesk3,CS 3 - Ref Fiction,Print,Book,Reference,NaN,Adult
999999,201007271533000010030543465,2010,2094870,10030543465,acpost,cadocpt,DOC I19.79:V 88/2/POST.,Volcanoes,"Volcanoes Posters, Volcanoes Washington State ...",07/27/2010 03:33:00 PM,cadocpt,CA6-Poster - DOC,Media,Document,Miscellaneous,NaN,Adult

In [43]:
dd[dd.code == 'nybot']

,code,description,code_type,format_group,format_subgroup,category_group,category_subgroup,age_group
496,nybot,NY-Teen - Books on Tape,ItemCollection,Media,Audiobook Tape,Fiction,NaN,Teen

In [38]:
sorted(df.collection.unique())

['caaero',
 'cab',
 'cabocd',
 'cabot',
 'cacasnf',
 'cacd',
 'cacdnf',
 'cacdr',
 'cacomic',
 'cadesk3',
 'cadesk8',
 'cadesk9',
 'cadocpt',
 'cadvd',
 'cadvdnf',
 'caesl',
 'caesla',
 'caeslb',
 'caeslc',
 'caesli',
 'caeslr',
 'caeslt',
 'cafic',
 'cafold',
 'cagmf',
 'calibr',
 'caln',
 'calncas',
 'calncd',
 'calndvd',
 'calnvid',
 'calpfic',
 'calpnew',
 'calpnf',
 'camus',
 'camys',
 'canew',
 'canf',
 'canwart',
 'caover',
 'caper',
 'capf',
 'capfxms',
 'caread',
 'caref',
 'caref8',
 'casf',
 'cash',
 'casoft',
 'cass',
 'cavid',
 'cavidad',
 'cavidnf',
 'cawest',
 'ccb',
 'ccbocd',
 'ccbot',
 'cccd',
 'cccomic',
 'ccdvd',
 'ccdvdnf',
 'cceck',
 'ccef',
 'ccfft',
 'ccfic',
 'cchol',
 'cckit',
 'ccln',
 'cclpfic',
 'ccnew',
 'ccnf',
 'ccpic',
 'ccrdr',
 'ccser',
 'ccvid',
 'ccvidnf',
 'cs1fic',
 'cs1lew',
 'cs6',
 'cs6r',
 'cs7',
 'cs7r',
 'cs7ro',
 'cs8',
 'cs8o',
 'cs8r',
 'cs9',
 'cs9o',
 'cs9r',
 'cyb',
 'cybocd',
 'cybot',
 'cycomic',
 'cyfic',
 'cylp',
 'cynew',
 'cynf',
 'cyser',
 'naaab',
 'naaafic',
 'naaanew',
 'naaanf',
 'naaapb',
 'naaavid',
 'naatlas',
 'naatlr',
 'nab',
 'nabiflk',
 'nabocd',
 'nabot',
 'nabr',
 'nacas',
 'nacasnf',
 'nacd',
 'nacdnf',
 'nacdr',
 'naclfic',
 'naclnf',
 'nacomic',
 'nacon',
 'nadoc',
 'nadvd',
 'nadvdnf',
 'naesl',
 'naesla',
 'naeslb',
 'naeslc',
 'naesli',
 'naeslt',
 'nafic',
 'nafold',
 'naglc',
 'nahol',
 'naholsk',
 'nahome',
 'najob',
 'najobr',
 'nakit',
 'nalas',
 'nalh',
 'naln',
 'nalpfic',
 'nalpnew',
 'nalpnf',
 'namar',
 'namys',
 'nana',
 'nanew',
 'nanf',
 'naover',
 'napar',
 'napb',
 'napf',
 'napost',
 'naread',
 'naref',
 'nasf',
 'nass',
 'nastk',
 'nasur',
 'navid',
 'navidnf',
 'nawest',
 'ncaa',
 'ncaward',
 'ncb',
 'ncbb',
 'ncbocd',
 'ncbot',
 'nccas',
 'nccd',
 'nccomic',
 'ncdvd',
 'ncdvdnf',
 'ncef',
 'ncenf',
 'ncesl',
 'ncfft',
 'ncfic',
 'nchol',
 'ncholsk',
 'nckit',
 'ncln',
 'nclp',
 'ncnew',
 'ncnf',
 'ncpb',
 'ncpic',
 'ncpro',
 'ncrdr',
 'ncref',
 'ncseas',
 'ncser',
 'ncsoft',
 'ncspec',
 'ncvid',
 'ncvidnf',
 'nyb',
 'nybocd',
 'nybot',
 'nycomic',
 'nyfic',
 'nylp',
 'nynew',
 'nynf',
 'nypb',
 'nyser',
 'seorder',
 'swill']

In [37]:
dd_loc.code.unique()

array(['nga', 'hip', 'rbe', 'wlb', 'dth', 'drp1', 'mag', 'nhy', 'bal',
       'gwd', 'net', 'idc', 'cap', 'stak', 'wal', 'tcs', 'lcy', 'bro',
       'mon', 'mob', 'spa', 'qas', 'dlr', 'col', 'out', 'uni', 'qna',
       'wts', 'mgm', 'glk', 'bea', 'cen', 'fre', 'swt', 'ill'],
      dtype=object)

In [35]:
[cod for cod in df.collection.unique() if cod in dd_loc.code.unique()]

[]

In [ ]:
%%time

# uncomment to save
with gzip.open('data/seattle_lib.pkl', 'wb') as goodbye:
    pickle.dump(df, goodbye, protocol=pickle.HIGHEST_PROTOCOL)
    
# # uncomment to load
# with gzip.open('data/seattle_lib.pkl', 'rb') as hello:
#     df = pickle.load(hello)